<!--/**
* @author : cuiqiqi
* @version 1.0
* @Project: project-practice01
* @Description: TODO
* @date Date : 2018年12月18日 13:35
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
		<meta charset="UTF-8"/>
        <title>太极</title>
        <!-- Bootstrap Core CSS -->
	<link th:href="@{/Reception_css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <!-- Custom Fonts -->
	<link th:href="@{/Reception_font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
        <!-- Custom CSS -->
	<link th:href="@{/Reception_css/patros.css}" rel="stylesheet" type="text/css" />
	</head>

	<body data-spy="scroll">
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--PATROS头部为图片，不是文本-->
					<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="company logo"/></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right custom-menu">
						<li class="active"><a href="#home">首页</a></li>
						<li><a href="#about">关于我们</a></li>
						<li><a href="#bloghome1">博客</a></li>
						<li><a href="#bloghome">讨论组</a></li>
						<li><a href="#meet-team">帖子</a></li>
						<li><a href="#portfolio1">个人中心</a></li>
						<li><a href="blog.html">登录</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- 个人博客 -->
		<section class="container blog">
			<div class="row">
		        <!-- Blog Column -->
		        <div class="col-md-8">
		            <h1 class="page-header sidebar-title">
		                个人博客
		            </h1>
		            <!-- First Blog Post -->
		            <div class="row blogu">
		                <div class="col-sm-4 col-md-4 ">
		                    <div class="blog-thumb">
		                        <a href="single-post.html">
		                            <img class="img-responsive" src="images/blog-photo1.jpg" alt="photo">
		                        </a>
		                    </div>
		                </div>
		                <div class="col-sm-8 col-md-8">
		                    <h2 class="blog-title">
		                        <a href="single-post.html">关于Spring Boot的那些事</a>
		                    </h2>
		                    <p><i class="fa fa-calendar-o"></i>  四月 28, 2018
		                        <span class="comments-padding"></span>
		                        <i class="fa fa-comment"></i> 1000 留言
		                    </p>
		                    <p> 关于Spring Boot的那些事，如果你是因为对SoringBoot不了解，
								或者是想要深入了解的话，来我的博客，在我的博客内，你将啥也学不到，因为我也不会···哈哈哈哈哈</p>
		                </div>
		            </div>
		            <hr>
		            <!-- Second Blog Post -->
		            <div class="row">
		                <div class="col-sm-4 col-md-4">
		                    <div class="blog-thumb">
		                        <a href="single-post.html">
		                            <img class="img-responsive" src="images/blog-photo2.jpg" alt="photo"/>
		                        </a>
		                    </div>
		                </div>
		                <div class="col-sm-8 col-md-8">
		                    <h2 class="blog-title">
		                        <a href="single-post.html">聊聊Spring security</a>
		                    </h2>
		                    <p><i class="fa fa-calendar-o"></i> 五月 15, 2018
		                       <span class="comments-padding"></span>
		                       <i class="fa fa-comment"></i> 500 留言
		                    </p>
		                    <p>今天我们来说说Spring security，Spring Security，这是一种基于 Spring AOP 和 Servlet
								过滤器的安全框架。它提供全面的安全性解决方案，同时在 Web 请求级和方法调用级处理身
								份确认和授权。 本教程对 Spring Security 的使用进行一个比较全面的简要介绍。</p>
		                </div>
		            </div>
		            <hr>
		            <!-- Third Blog Post -->
		            <div class="row">
		                <div class="col-sm-4 col-md-4">
		                    <div class="blog-thumb">
		                        <a href="single-post.html">
		                        <img class="img-responsive" src="images/blog-photo3.jpg" alt="photo"/>
		                        </a>
		                    </div>
		                </div>
		                <div class="col-sm-8 col-md-8">
		                    <h2 class="blog-title">
		                        <a href="single-post.html">聊聊人生</a>
		                    </h2>
		                    <p><i class="fa fa-calendar-o"></i>  六月 28, 2018
		                        <span class="comments-padding"></span>
		                        <i class="fa fa-comment"></i> 150 留言
		                    </p>
		                    <p>让我们荡起双桨，小船儿推开波浪，海面倒映着美丽的白塔，四周环绕着绿树红墙，小船儿轻轻飘荡在水中
								，迎面吹来了凉爽的风，红领巾迎着太阳，阳光洒在海面上，水中鱼儿望着我们，悄悄地听我们愉快歌唱</p>
		                </div>
		            </div>
		            <hr>
		            <!-- Fourth Blog Post -->
		            <div class="row">
		                <div class="col-sm-4 col-md-4">
		                    <div class="blog-thumb">
		                        <a href="single-post.html">
		                            <img class="img-responsive" src="images/blog-photo1.jpg" alt="photo"/>
		                        </a>
		                    </div>
		                </div>
		                <div class="col-sm-8 col-md-8">
		                    <h2 class="blog-title">
		                        <a href="single-post.html">勇敢的直面人生中遇到的困难</a>
		                    </h2>
		                    <p><i class="fa fa-calendar-o"></i> 7 28, 2018
		                       <span class="comments-padding"></span>
		                       <i class="fa fa-comment"></i> 250 留言
		                    </p>
		                    <p>生活中，我们在哀叹生命不幸，在等待希望的瞬间，时间像一只顽皮的小精灵窃
								笑着与我们擦肩而去。童年的无无忧无虑早已如梦般散去，也伴随着日历飘逸在岁月的时光飞逝，往事烟云如歌，
								也只能存在记忆的光盘中，而未来的时光又如一条无声的河流，在浩浩荡荡地、
								义无反顾地向身后延伸。</p>
		                </div>
		            </div>

		             <hr>
		            <!-- Fifth Blog Post -->
		            <div class="row">
		                <div class="col-sm-4 col-md-4">
		                    <div class="blog-thumb">
		                        <a href="single-post.html">
		                            <img class="img-responsive" src="images/blog-photo2.jpg" alt="photo"/>
		                        </a>
		                    </div>
		                </div>
		                <div class="col-sm-8 col-md-8">
		                    <h2 class="blog-title">
		                        <a href="single-post.html">啦啦啦啦啦</a>
		                    </h2>
		                    <p><i class="fa fa-calendar-o"></i> August 28, 2013 
		                       <span class="comments-padding"></span>
		                       <i class="fa fa-comment"></i> 3 comments
		                    </p>
		                    <p>啦啦啦啦啦啦阿联啦啦啦啦啦啦阿联啦啦啦啦啦啦阿联啦啦啦啦啦啦阿联啦啦啦啦啦啦
								阿联啦啦啦啦啦啦阿联啦啦啦啦啦啦阿联</p>
		                </div>
		            </div>

		             <hr>
		            <!-- Six Blog Post -->
		            <div class="row">
		                <div class="col-sm-4 col-md-4">
		                    <div class="blog-thumb">
		                        <a href="single-post.html">
		                            <img class="img-responsive" src="images/blog-photo3.jpg" alt="photo"/>
		                        </a>
		                    </div>
		                </div>
		                <div class="col-sm-8 col-md-8">
		                    <h2 class="blog-title">
		                        <a href="single-post.html">哈哈哈哈啊哈</a>
		                    </h2>
		                    <p><i class="fa fa-calendar-o"></i> August 28, 2013 
		                       <span class="comments-padding"></span>
		                       <i class="fa fa-comment"></i> 3 comments
		                    </p>
		                    <p>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
								哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
		                </div>
		            </div>
		            


		            <hr>
		            <div class="text-center"> 
		                <ul class="pagination"> 
		                    <li class="active"> <a href="#">1</a> </li> 
		                    <li> <a href="#">2</a> </li> 
		                    <li> <a href="#">3</a> </li> 
		                    <li> <a href="#">4</a> </li> 
		                    <li> <a href="#">5</a> </li> 
		                    <li> <a href="#">Next</a> </li> 
		                </ul> 
		            </div>
		        </div>
		            <!-- Blog Sidebar Column -->
		            <aside class="col-md-4 sidebar-padding">
		                <div class="blog-sidebar">
		                    <div class="input-group searchbar">
		                        <input type="text" class="form-control searchbar" placeholder="Search for...">
		                        <span class="input-group-btn">
		                        <button class="btn btn-default" type="button">Search</button>
		                        </span>
		                    </div><!-- /input-group -->
		                </div>
		                <!-- Blog Categories -->
						<div class="blog-sidebar">
							<h4 class="sidebar-title"><i class="fa fa-list-ul"></i> 类别</h4>
							<hr>
							<ul class="sidebar-list">
								<li><a href="#">应用</a></li>
								<li><a href="#">摄影</a></li>
								<li><a href="#">艺术设计</a></li>
								<li><a href="#">平面设计</a></li>
								<li><a href="#">类别名称</a></li>
							</ul>
						</div>
		                <!-- Recent Posts -->
		                <div class="blog-sidebar">
		                    <h4 class="sidebar-title"><i class="fa fa-align-left"></i> Recent Posts</h4>
		                    <hr style="margin-bottom: 5px;">

		                    <div class="media">
		                        <a class="pull-left" href="#">
		                            <img class="img-responsive media-object" src="images/blog1.jpg" alt="Media Object"/>
		                        </a>
		                        <div class="media-body">
		                            <h4 class="media-heading"><a href="#">Post title 1</a></h4>
		                            This is some sample text. This is some sample text. This is some sample text.
		                        </div>
		                    </div>

		                    <div class="media">
		                        <a class="pull-left" href="#">
		                            <img class="img-responsive media-object" src="images/blog2.jpg" alt="Media Object"/>
		                        </a>
		                        <div class="media-body">
		                            <h4 class="media-heading"><a href="#">Post title 2</a></h4>
		                            This is some sample text. This is some sample text. This is some sample text.
		                        </div>
		                    </div>

		                    <div class="media">
		                        <a class="pull-left" href="#">
		                            <img class="img-responsive media-object" src="images/blog3.jpg" alt="Media Object"/>
		                        </a>
		                        <div class="media-body">
		                            <h4 class="media-heading"><a href="#">Post title 3</a></h4>
		                            This is some sample text. This is some sample text. This is some sample text.
		                        </div>
		                    </div>
		                    <div class="media">
		                        <a class="pull-left" href="#">
		                            <img class="img-responsive media-object" src="images/blog1.jpg" alt="Media Object"/>
		                        </a>
		                        <div class="media-body">
		                            <h4 class="media-heading"><a href="#">Post title 4</a></h4>
		                            This is some sample text. This is some sample text. This is some sample text.
		                        </div>
		                    </div>
		                </div>

		                <div class="blog-sidebar">
		                    <h4 class="sidebar-title"><i class="fa fa-comments"></i> Recent Comments</h4>
		                    <hr style="margin-bottom: 5px;">
		                     <ul class="sidebar-list">
		                        <li><h5 class="blog-title">Author Name</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
		                        </li>
		                        <li><h5 class="blog-title">Author Name</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
		                        </li>
		                        <li><h5 class="blog-title">Author Name</h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
		                        </li>
							</ul>
						</div>

					</aside>
				</div>
		    </section>

<!--联系我们-->
		<section id="contact">
			<div class="container" >
				<div class="row">
					<div class="col-md-12">
						<div class="col-lg-12">
							<div class="text-center color-elements">
								<h2>联系我们</h2>
							</div>
						</div>
						<div class="col-lg-6 col-md-8">
							<form class="inline" id="contactForm" method="post" >
								<div class="row">
									<div class="col-sm-6 height-contact-element">
										<div class="form-group">
											<input type="text" name="first_name" class="form-control custom-labels" id="name" placeholder="用户名" /><!--required data-validation-required-message="Please write your name!"-->
											<p class="help-block text-danger"></p>
										</div>
									</div>
									<div class="col-sm-6 height-contact-element">
										<div class="form-group">
											<input type="email" name="email" class="form-control custom-labels" id="email" placeholder="邮箱" /><!--required data-validation-required-message="Please write your email!"-->
											<p class="help-block text-danger"></p>
										</div>
									</div>
									<div class="col-sm-12 height-contact-element">
										<div class="form-group">
											<input type="text" name="message" class="form-control custom-labels" id="message" placeholder="您的意见" /><!--required data-validation-required-message="Please write a message!"-->
										</div>
									</div>
									<div class="col-sm-3 col-xs-6 height-contact-element">
										<div class="form-group">
											<input type="submit" class="btn btn-md btn-custom btn-noborder-radius" value="发送"/>
										</div>
									</div>
									<div class="col-sm-3 col-xs-6 height-contact-element">
										<div class="form-group">
											<button type="button" class="btn btn-md btn-noborder-radius btn-custom" name="reset">取消
											</button>
										</div>
									</div>
									<div class="col-sm-3 col-xs-6 height-contact-element">
										<div class="form-group">
											<div id="response_holder"></div>
										</div>
									</div>
									<div class="col-sm-12 contact-msg">
										<div id="success"></div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-lg-5 col-md-3 col-lg-offset-1 col-md-offset-1">
							<div class="row">
								<div class="col-md-12 height-contact-element">
									<div class="form-group">
										<i class="fa fa-2x fa-map-marker"></i>
										<span class="text">公司地址</span>
									</div>
								</div>
								<div class="col-md-12 height-contact-element">
									<div class="form-group">
										<i class="fa fa-2x fa-phone"></i>
										<span class="text">0051 768622115</span>
									</div>
								</div>
								<div class="col-md-12 height-contact-element">
									<div class="form-group">
										<i class="fa fa-2x fa-envelope"></i>
										<span class="text"><a href="malito:mail@demolink.org">mail(at)patros.com</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--<section id="follow-us">
			<div class="container"> 
				<div class="text-center height-contact-element">
					<h2>FOLLOW US</h2>
				</div>
				<img class="img-responsive displayed" src="images/short.png" alt="short" />
				<div class="text-center height-contact-element">
					<ul class="list-unstyled list-inline list-social-icons">
						<li class="active"><a href="#"><i class="fa fa-facebook social-icons"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter social-icons"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus social-icons"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin social-icons"></i></a></li>
					</ul>
				</div>
			</div>
		</section>-->

		<footer id="footer">
			<div class="container">
				<div class="row myfooter">
					<div class="col-sm-6"><div class="pull-left">
						Copyright &copy; 2016.太极计算机有限公司 <a href="http://www.taiji.com.cn/" target="_blank" ></a>
					</div></div>
					<div class="col-sm-6">
						<div class="pull-right">风之彩团队小组</div>
					</div>
				</div>
			</div>
		</footer>

        <!-- jQuery -->
		<script type="text/javascript" th:src="@{/Reception_js/jquery.js}"></script>
        <!-- Bootstrap Core JavaScript -->
		<script type="text/javascript" th:src="@{/Reception_js/bootstrap.min.js}"></script>

		<!--Jquery Smooth Scrolling-->
        <script>
            $(document).ready(function(){
                $('.custom-menu a[href^="#"], .intro-scroller .inner-link').on('click',function (e) {
                    e.preventDefault();

                    var target = this.hash;
                    var $target = $(target);

                    $('html, body').stop().animate({
                        'scrollTop': $target.offset().top
                    }, 900, 'swing', function () {
                        window.location.hash = target;
                    });
                });

                $('a.page-scroll').bind('click', function(event) {
                    var $anchor = $(this);
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top
                    }, 1500, 'easeInOutExpo');
                    event.preventDefault();
                });

               $(".nav a").on("click", function(){
                     $(".nav").find(".active").removeClass("active");
                    $(this).parent().addClass("active");
            	});

                $('body').append('<div id="toTop" class="btn btn-primary color1"><span class="glyphicon glyphicon-chevron-up"></span></div>');
                    $(window).scroll(function () {
                        if ($(this).scrollTop() != 0) {
                            $('#toTop').fadeIn();
                        } else {
                            $('#toTop').fadeOut();
                        }
                    }); 
                $('#toTop').click(function(){
                    $("html, body").animate({ scrollTop: 0 }, 700);
                    return false;
                });

            });
        </script>

    </body>
</html>