<!--/**
* @author : cuiqiqi
* @version 1.0
* @Project: project-practice01
* @Description: TODO
* @date Date : 2018年12月18日 13:35
*/-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>太极</title>
</head>

<body data-spy="scroll">

<!-- 顶部 -->
<div th:replace="fragments/header::header"></div>
<!--<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="../images/logo.png" /></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right custom-menu">
                <li class="active"><a href="#home">首页</a></li>

                <li><a href="/Blogs/findAnyBlogs/0">博客</a></li>
                <li><a href="#bloghome">讨论组</a></li>
                <li><a href="#meet-team">帖子</a></li>
                &lt;!&ndash;首页嵌套个人中心页面，包括修改密码模态框，后期做&ndash;&gt;
                <li><a href="#portfolio1">个人中心</a></li>
                &lt;!&ndash;登录按钮跳转&ndash;&gt;
                <li><a href="#">登录</a></li>
            </ul>
        </div>
    </div>
</nav>-->

<!-- 首页头部轮播图 -->
<header id="home" class="carousel slide">
    <ul class="cb-slideshow">
        <li><span>image1</span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center"><h3>永不言败的拼搏</h3></div>
                    </div>
                </div>
                <h4>拼搏,不过是给自己原本该做的事找一个高大上的理由，而我们恰恰需要！</h4>
            </div>
        </li>
        <li><span>image2</span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center"><h3>脚踏实地的向前</h3></div>
                    </div>
                </div>
                <h4>即使爬到最高的山上，一次也只能脚踏实地地迈一步！</h4>
            </div>
        </li>
        <li><span>image3</span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center"><h3>活出人生的价值</h3></div>
                    </div>
                </div>
                <h4>生命之长短殊不重要，只要你活得快乐，在有生之年做些有意义的事，便已足够！</h4>
            </div>
        </li>
        <li><span>Image 04</span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center"><h3>正确面对自己</h3></div>
                    </div>
                </div>
                <h4>经验不是发生在一个人身上的事件，而是一个人如何看待发生在他身上的事！</h4>
            </div>
        </li>
        <li><span>Image 05</span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center"><h3>不知道写啥了~~~</h3></div>
                    </div>
                </div>
                <h4>最充实的人生，是不断把句号变成逗号；最绚丽的人生，是不断把逗号变成感叹号！</h4>
            </div>
        </li>
        <li><span>Image 06</span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center"><h3>SEARCH ENGINE OPTIMIZATION!</h3></div>
                    </div>
                </div>
                <h4>人，其实不需要太多的东西，只要健康地活着，真诚地爱着，也不失为一种富有！</h4>
            </div>
        </li>
    </ul>
    <div class="intro-scroller">
        <a class="inner-link" href="#about">
            <div class="mouse-icon" style="opacity: 1;">
                <div class="wheel"></div>
            </div>
        </a>
    </div>
</header>

<!-- 关于我们 -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="text-center">
                    <h2>关于我们</h2>
                    <img class="img-responsive displayed" src="../images/short.png" alt="Company about"/>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley. It has survived not only five centuries, but also the leap into
                                electronic typesetting, remaining <span
                                    class="color-elements">essentially unchanged.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--博客帖子-->
<div >
    <section id="bloghome1">
        <div class="container">
            <div class="text-center"><h2>最新博客帖子</h2>
                <img class="img-responsive displayed" src="../images/short.png" alt="about"/>
            </div>
            <div class="row">
                <div class="col-md-12 homeport1" >
                    <div class="col-md-4 col-sm-12 col-xs-12 portfolio-item" th:each="blogs:${groupsBlogDto}">
                        <figure class="effect-oscar">
                            <img th:src="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()}+'/'+${blogs.blogs.blogPic}" style="height: 170px;width:340px"/>
                            <figcaption>
                                <h2 th:text="${blogs.blogs.blogTitle}"></h2>
                                <!--编写挑战到blog.html页面-->
                                <a th:href="@{'/Blogs/getBlogById/'+${blogs.blogs.blogId}}">View more</a>
                            </figcaption>
                        </figure>
                        <p class="text-center" th:text="${blogs.blogs.blogXx}"></p>
                        <div class="text-center"><a class="btn btn-primary btn-noborder-radius hvr-bounce-to-bottom" th:href="@{'/Blogs/getBlogById/'+${blogs.blogs.blogId}}">Read
                            More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--讨论组-->
    <section id="bloghome">
        <div class="container">
            <div class="text-center"><h2>最热讨论组</h2>
                <img class="img-responsive displayed" src="../images/short.png" alt="about"/>
            </div>
            <div class="row">
                <div class="col-md-12 homeport1" >
                    <div class="col-md-4 col-sm-12 col-xs-12 portfolio-item" th:each="groups:${groupsBlogDto}">
                        <figure class="effect-oscar">
                            <img th:src="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()}+'/'+${groups.groups.groupIco}" style="height: 170px;width:340px"/>
                            <figcaption>
                                <h2 th:text="${groups.groups.groupName}"></h2>
                                <a th:href="@{'/groups/getGroupsById/'+${groups.groups.groupId}}">View more</a>
                            </figcaption>
                        </figure>
                        <p class="text-center" th:text="${groups.groups.groupDescription}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="location">
    <div class="row prodmap">
        <div id="map-canvas-holder" class="map_holder" style="height: 250px;"></div>
    </div>
</div>
<!--底部-->
<div th:replace="fragments/footer::footer"></div>

>
</body>
</html>




